numpy>=2.3.5
pydantic-settings
python-dotenv>=1.2.1
scikit-learn>=1.8.0
requests>=2.31.0
pillow>=10.0.0
opencv-python>=4.8.0
ultralytics>=8.0.0
labelimg>=1.8.6
tqdm>=4.65.0
beautifulsoup4>=4.12.0
selenium>=4.15.0
ultralytics>=8.3.222
pandas>=2.3.3
rich>=14.2.0
torchvision>=0.24.1
openai>=1.54.0
asyncio>=4.0.0
ddgs>=9.9.1
autodistill>=0.1.29
autodistill-grounding-dino>=0.1.4
roboflow>=1.2.11
