numpy<2.0
pydantic-settings
python-dotenv>=1.2.1
scikit-learn
sentence-transformers
spacy
requests>=2.31.0
pillow>=10.0.0
opencv-python>=4.8.0
ultralytics>=8.0.0
labelimg>=1.8.6
tqdm>=4.65.0
beautifulsoup4>=4.12.0
selenium>=4.15.0
ultralytics>=8.3.222
pandas
rich
torchvision
openai>=1.54.0
asyncio
ddgs>=9.9.1
autodistill
autodistill-grounding-dino
roboflow