numpy>=2.3.5
pydantic-settings
python-dotenv>=1.2.1
pillow>=10.0.0
#opencv-python>=4.8.0
opencv-python-headless>=4.8.0
matplotlib>=3.7.0
ultralytics>=8.3.222
torch>=2.0.0
torchvision>=0.24.1
transformers>=4.40.0
pyyaml>=6.0.0
openai>=1.54.0
open-clip-torch>=3.3.0
fastapi>=0.115.0
uvicorn>=0.34.0
python-multipart>=0.0.20
