services:
    frontend:
        build: $PWD/frontend/Dockerfile
        env_file: ".env"
        container_name: frontend
        ports:
            - ${FRONTEND_PORT}:5173
        restart: unless-stopped
        volumes:
            - $PWD/frontend
        depends_on:
            - backend
        develop:
            watch:
                - action: sync+restart
                  path: ${PWD}/frontend
                  ignore:
                      - node_modules/
                  target: /frontend
                - action: rebuild
                  path: ${PWD}/frontend/Dockerfile
                - action: rebuild
                  path: ${PWD}/docker-compose.yml

    backend:
        build: $PWD/food_db/Dockerfile
        env_file: ".env"
        container_name: backend
        ports:
            - ${BACKEND_PORT}:8000
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/healthcheck"]
            interval: 2s
            timeout: 5s
            retries: 10
        develop:
            watch:
                - action: sync+restart
                  path: ${PWD}/food_db
                  target: /food_db
                - action: rebuild
                  path: ${PWD}/food_db/Dockerfile
                - action: rebuild
                  path: ${PWD}/docker-compose.yml
        depends_on:
            - database
    database:
        image: "postgres:latest"
        env_file: ".env"
