services:
    frontend:
        build: ./frontend/
        container_name: frontend
        ports:
            - ${FRONTEND_PORT}:5173
        develop:
            watch:
                - action: rebuild
                  path: ./frontend/package.json
                - action: rebuild
                  path: ./frontend/vite.config.js
                - action: rebuild
                  path: ./frontend/eslint.config.js
        volumes:
          - ./frontend/:/frontend/
    backend:
        build: ./food_db/
        container_name: backend
        ports:
            - ${BACKEND_PORT}:8000
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/healthcheck"]
            interval: 2s
            timeout: 5s
            retries: 10
        volumes:
            - ./food_db/links:/backend/links:ro
        develop:
            watch:
                - action: rebuild
                  path: ./food_db
                  ignore:
                    - ./food_db/links
        depends_on:
            database:
                condition: service_healthy
    database:
        image: "postgres:14.19-alpine3.21"
        env_file: ".env"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 2s
            timeout: 1s
            retries: 5
            start_period: 1s
        volumes:
            - postgres_data:/var/lib/postgresql
    adminer:
        image: adminer
        ports:
            - 8080:8080
        environment:
            ADMINER_DEFAULT_SERVER: database

volumes:
    postgres_data:
