services:
    frontend:
        build: ${PWD}/frontend/
        container_name: frontend
        ports:
            - ${FRONTEND_PORT}:5173
        depends_on:
            backend:
                condition: service_started
        develop:
            watch:
                - action: sync+restart
                  path: ${PWD}/frontend
                  initial_sync: true
                  target: /app/
                  ignore:
                      - node_modules/
                - action: rebuild
                  path: ${PWD}/frontend/Dockerfile
                - action: rebuild
                  path: ${PWD}/docker-compose.yml
                - action: rebuild
                  path: ${PWD}/frontend/package.json
    backend:
        build: ${PWD}/food_db/
        container_name: backend
        ports:
            - ${BACKEND_PORT}:8000
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/healthcheck"]
            interval: 2s
            timeout: 5s
            retries: 10
        develop:
            watch:
                - action: rebuild
                  path: ${PWD}/food_db
                - action: rebuild
                  path: ${PWD}/food_db/Dockerfile
                - action: rebuild
                  path: ${PWD}/docker-compose.yml
        depends_on:
            database:
                condition: service_healthy
    database:
        image: "postgres:14.19-alpine3.21"
        env_file: ".env"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 2s
            timeout: 1s
            retries: 5
            start_period: 5s
        volumes:
            - postgres_data:/var/lib/postgresql
    adminer:
        image: adminer
        ports:
            - 8080:8080
        environment:
            ADMINER_DEFAULT_SERVER: database

volumes:
    postgres_data:
